.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 0;
    border: none;
    width: 80px;
    height: 25px;
    font-weight: bold;
}

.cancel {
    background: rgba(189, 195, 199, 0.42);
}

.order {
    background: #337ab7;
}